---
- name: Write custom kitty config
  ansible.builtin.template:
    src: "{{ item }}"
    dest: "~{{ ansible_user_id }}/.config/kitty/{{ item | basename | replace('.j2', '') }}"
    mode: 0644
  with_fileglob:
    - "./files/kitty/*"
  tags:
    - kitty

- name: Write remote_aliases for SSH kitten
  ansible.builtin.template:
    src: "files/.remote_aliases"
    dest: "~{{ ansible_user_id }}/.remote_aliases"
    mode: 0644
  tags:
    - kitty
