# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/bin" ] ; then
    PATH="$HOME/bin:$PATH"
fi

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/.local/bin" ] ; then
    PATH="$HOME/.local/bin:$PATH"
fi

# if snap binary dir exists, add to PATH
if [ -d "/snap/bin" ] ; then
    PATH="/snap/bin:$PATH"
fi

# if homebrew binary dir exists, add to PATH
if [ -d "/opt/homebrew/bin" ] ; then
    PATH="/opt/homebrew/bin:$PATH"
fi

# if linux homebrew binary dir exists, add to PATH
if [ -d "/home/linuxbrew/.linuxbrew/bin" ] ; then
    PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"
fi

# if go dir exists, add to PATH
if [ -d "$HOME/go/bin" ] ; then
    PATH="$HOME/go/bin:/usr/local/go/bin:$PATH"
fi

# if python dir exists, add to PATH
if [ -d "$HOME/Library/Python/3.9/bin" ] ; then
    PATH="$HOME/Library/Python/3.9/bin:$PATH"
fi

# if gnubin dir exists, add to PATH
if [ -d "/opt/homebrew/opt/findutils/libexec/gnubin" ] ; then
    PATH="/opt/homebrew/opt/findutils/libexec/gnubin:$PATH"
fi

export ANSIBLE_REMOTE_USER="{{ default_remote_username }}"
export ANSIBLE_VAULT_PASSWORD_FILE=~/.ansible-vault
export ANSIBLE_BECOME_PASSWORD_FILE=~/.ansible-become

export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export LANGUAGE=en_US.UTF-8
